#these .htaccess files are for my localhost Apache testing, the live site is served with Nginx.

DirectoryIndex index.php

SetEnv HTTP_MOD_REWRITE On
Options -MultiViews
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/template/
RewriteCond %{REQUEST_URI} !^/lib/
RewriteCond %{REQUEST_URI} !^/ajax.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule (.*) index.php?url=$1