:root { --main-accent: rgb(100, 0, 255); }

.bottomStrip { border-bottom: 4px solid var(--main-accent); }

header *
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: rgb(var(--foreground));
}

header h3
{
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 20px 10px;
    font-weight: bolder;
}

header a { color: inherit; text-decoration: none; }

.accentText { color: var(--main-accent) !important; }

.imgSmall
{
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
}

section
{
    margin-left: 10%;
    margin-right: 10%;
}

.slideMenu
{
    width: 100%;
    position: fixed;
    z-index: 998;
    height: 100px;
}