body
{
    &::after
    {
        display: block;
        content: "";
        height: 60px;
    }
}

footer
{
    bottom: 0;
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60px;

    div
    {
        &:first-of-type
        {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);

            > a
            {
                font-size: small;
                font-weight: normal;
            }
        }
    }
}