body::after
{
    display: block;
    content: "";
    height: 60px;
}

footer
{
    bottom: 0;
    position: absolute;
    left: 5%;
    right: 5%;
    height: 60px;
}

footer div:first-of-type
{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

footer div:first-of-type > *
{
    font-size: small;
    font-weight: normal;
}