header
{
    background-color: rgb(var(--background));
    width: 100%;
    height: 100px;
    margin: 0;
    position: relative;
    z-index: 999;
}

header *
{
    user-select: none;
}

header > hr { border-bottom: 1px solid var(--main-accent); margin: 0; }

header > section { position: relative; z-index: 9999; }

.titleContainer
{
    position: relative;
    height: 100px;
}

.titleIcon
{
    position: relative;
    float: left;
    transform: translate(0, 15%);
}

.title
{
    position: relative;
    top: 50px;
    left: 20px;
    line-height: 10px;
    margin: 0;
    padding: 0;
    transform: translate(0%, -50%);
    width: 325px;
}

.navigationContainer
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    font-weight: bolder;
    font-size: 1.25rem;
}

.navigationContainer > *
{
    float: left;
    margin-left: 50px;
}

.naviDropdown > a:hover { cursor: default; }

.navigationContainer > *:hover { color: var(--main-accent); }

.titleContainer .title:hover { color: var(--main-accent); }

.naviDropdown:hover .dropdownContent { display: block; }

.dropdownContent
{
    font-size: 1.1rem;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdownContent > :first-child { height: 15px; }

.dropdownContent > :last-child > a:hover { color: var(--main-accent); }

.dropdownContent > :last-child > a
{
    float: none;
    color: rgb(var(--foreground));
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent > :last-child
{
    border-radius: 4px;
    background-color: rgba(var(--foreground), 0.5);
    backdrop-filter: blur(2px);
}

#darkMode { cursor: pointer; }