//I cant seem to get this @use to work properly.

$darkForegroundColour: rgb(255, 255, 255);
$darkBackgroundColour: rgb(13, 17, 23);
$darkBackgroundAltColour: rgb(30, 37, 46);

$lightForegroundColour: rgb(0, 0, 0);
$lightBackgroundColour: rgb(255, 255, 255);
$lightBackgroundAltColour: rgb(225, 225, 225);

$accentColour: rgb(255, 255, 255);
$accentAltColour: rgb(255, 255, 255);