#header
{
    > section
    {
        > .titleContainer > a > .title,
        > .navigationContainer > .naviDropdown,
        > .navigationContainer > a
        {
            color: white;

            &:hover, &:hover > a
            {
                color: rgba(var(--accentColour), 1);
            }
        }
    }
}

body
{
    #header
    {
        //background-color: rgba(var(--backgroundColour), 0.5);
        background-color: transparent;
    }

    .splashText
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 80vh;

        > div
        {
            > *
            {
                color: white;
            }
        }
    }

    //This parallax illusion only works because it starts at the very top of the page. Fortunately it is sufficient enough for what I need to do.
    #splashVideoAndAbout
    {
        position: relative;
        top: -100px;
        width: 100%;
        margin-bottom: -100px;

        > .fixedBackground
        {
            position: relative;
            width: max-content;
            width: 100%;

            > .background
            {
                position: sticky;
                top: 0;
                z-index: -20;
                overflow: hidden;
                height: 80vh;

                > video
                {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-width: 100%;
                    min-height: 80vh;
                    width: auto;
                    height: auto;
                }
            }

            > .contentAfter
            {
                > div
                {
                    width: 100%;
                    background-color: rgba(var(--backgroundColour), 1);
                }
            }
        }
    }
}