.top
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#search
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);


    input
    {
        border: 1px solid rgba(var(--foregroundColour), 1);
        box-sizing: content-box;
        height: 20px;
        text-transform: none;
    }

    input[type="text"]
    {
        border-right: 0;
        border-radius: 4px 0 0 4px;
        padding: 4px 6px;
        width: auto;
    }

    input[type="submit"]
    {
        border-radius: 0 4px 4px 0;
        outline: none;
        transition: ease .4s;
        transition-property: background-color, color;
        user-select: none;
        padding: 4px 8px;
    }
}

#overlays
{
    padding-top: 20px;
    width: 100%;
    border-collapse: collapse;

    *
    {
        font-weight: normal;
    }

    th, td
    {
        width: (100/4)+0%;
        padding: 15px 10px;

        /*&:nth-of-type(1)
        {
            min-width: 240px;
            width: 25%;
        }

        &:nth-of-type(3)
        {
            width: 40%;
        }*/
    }

    th
    {
        text-align: left;
        font-weight: bold;
        border-bottom: 2px solid rgba(var(--foregroundColour), 1);
    }

    td
    {
        border-bottom: 1px solid rgba(var(--foregroundColour), 1);
    }

    img
    {
        width: 320px;
        height: 320 / (16/9) + 0px;
        border-radius: 4px;
        //The background colour helps with the image when the text is the same colour as the background (not visible when the image is set).
        background-color: rgba(var(--backgroundAltColour), 1);
        //The preview looks better without the image but it is very hard to see if the element colours match the background colour. Perhaps try and look for a different, simpler background image.
        background-image: url("../assets/images/beat-saber.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .listItem:hover
    {
        cursor: pointer;
        background-color: rgba(var(--backgroundAltColour), 1);
    }
}

#resultsText
{
    font-size: small;
    font-weight: normal;
    text-align: center;
}

#pages
{
    width: max-content;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translate(-50%);

    > button
    {
        width: 45px;
        height: 45px;
    }
}