.top
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#search
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
#search input
{
    border: 1px solid var(--foreground);
    box-sizing: content-box;
    height: 20px;
}
#search input[type="text"]
{
    color: var(--foreground);
    background-color: transparent;
    outline-width: 0;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
#search input[type="Submit"]
{
    border-radius: 0 4px 4px 0;
    outline: none;
    transition: ease .4s;
    transition-property: background-color, color;
    user-select: none;
}

#overlays
{
    padding-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
#overlays img { width: 160px; height: 90px; }
#overlays th { text-align: left; font-weight: bold; }
#overlays * { font-weight: normal; }
#overlays th, #overlays td { padding: 15px 10px; }
#overlays th { border-bottom: 2px solid var(--foreground); }
#overlays td { width: 33.3%; border-bottom: 1px solid var(--foreground); }

#pages
{
    width: max-content;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}

#pages > button
{
    width: 45px;
    height: 45px;
}