body {
  background: transparent;
}

body > .slideMenu {
  width: 100%;
  position: fixed;
  height: 100px;
}

#overlay {
  -webkit-transition: opacity 400ms ease 0s;
  transition: opacity 400ms ease 0s;
}

#overlay * {
  color: rgba(var(--overlayForeground), 1);
  font-size: 24px;
}

#overlay p {
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 17px;
}

#overlay.left > #modifiersAndHealth {
  right: 0;
}

#overlay.left > #modifiersAndHealth .healthContainer {
  border-radius: 10px 0 0 10px;
}

#overlay.left > #modifiersAndHealth .healthContainer .healthBackground {
  right: 0;
}

#overlay.left > #modifiersAndHealth #modifiersColumn {
  border-radius: 10px 0 0 10px;
}

#overlay.left > #mapDetails {
  left: 10px;
}

#overlay.left > #mapDetails #mapDetailsContainer p {
  padding-left: 5px;
  padding-right: 10px;
}

#overlay.bottom > #stats {
  border-radius: 0 0 10px 10px;
}

#overlay.bottom > #mapDetails {
  bottom: 10px;
}

#overlay.bottom > #mapDetails #preBSR {
  border-radius: 10px 10px 0 0;
  padding-top: 7.5px;
  padding-bottom: 2.5px;
}

#overlay.right > #modifiersAndHealth .healthContainer, #overlay.right > #modifiersAndHealth #modifiersColumn {
  border-radius: 0 10px 10px 0;
}

#overlay.right > #mapDetails {
  right: 10px;
}

#overlay.right > #mapDetails p {
  margin-left: auto;
}

#overlay.right > #mapDetails #mapDetailsContainer p {
  padding-left: 10px;
  padding-right: 5px;
}

#overlay.top > #stats {
  bottom: 0;
  border-radius: 10px 10px 0 0;
}

#overlay.top > #mapDetails {
  top: 10px;
}

#overlay.top > #mapDetails #preBSR {
  border-radius: 0 0 10px 10px;
  padding-top: 2.5px;
  padding-bottom: 7.5px;
}

#overlay.top > #mapDetails #mapDetailsContainer {
  vertical-align: top;
}

#overlay.bottom.left .topLeftRadius {
  border-top-left-radius: 10px;
}

#overlay.bottom.left .topRightRadius {
  border-top-right-radius: 10px;
}

#overlay.bottom.left .bottomRightRadius {
  border-bottom-right-radius: 10px;
}

#overlay.bottom.left .bottomLeftRadius {
  border-bottom-left-radius: 10px;
}

#overlay.bottom.left > #mapDetails #mapCoverContainer {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#overlay.bottom.right .topLeftRadius {
  border-top-right-radius: 10px;
}

#overlay.bottom.right .topRightRadius {
  border-top-left-radius: 10px;
}

#overlay.bottom.right .bottomRightRadius {
  border-bottom-left-radius: 10px;
}

#overlay.bottom.right .bottomLeftRadius {
  border-bottom-right-radius: 10px;
}

#overlay.bottom.right > #mapDetails #mapCoverContainer {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#overlay.top.left .topLeftRadius {
  border-bottom-left-radius: 10px;
}

#overlay.top.left .topRightRadius {
  border-bottom-right-radius: 10px;
}

#overlay.top.left .bottomRightRadius {
  border-top-right-radius: 10px;
}

#overlay.top.left .bottomLeftRadius {
  border-top-left-radius: 10px;
}

#overlay.top.left > #mapDetails #mapCoverContainer {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#overlay.top.right .topLeftRadius {
  border-bottom-right-radius: 10px;
}

#overlay.top.right .topRightRadius {
  border-bottom-left-radius: 10px;
}

#overlay.top.right .bottomRightRadius {
  border-top-left-radius: 10px;
}

#overlay.top.right .bottomLeftRadius {
  border-top-right-radius: 10px;
}

#overlay.top.right > #mapDetails #mapCoverContainer {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#overlay > #stats {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(var(--overlayBackground), 0.7);
  padding: 10px 0px;
  border-spacing: 25px 0;
}

#overlay > #modifiersAndHealth {
  font-size: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-spacing: 0;
}

#overlay > #modifiersAndHealth #healthColumn {
  padding: 0;
  width: 20px;
}

#overlay > #modifiersAndHealth #healthColumn .healthContainer {
  background-color: rgba(var(--overlayBackground), 0.7);
  width: 100%;
  height: 80%;
  position: relative;
}

#overlay > #modifiersAndHealth #healthColumn .healthContainer * {
  margin: 0;
  padding: 0;
}

#overlay > #modifiersAndHealth #healthColumn .healthContainer .healthBackground {
  position: absolute;
  top: 50%;
  height: 90%;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(var(--overlayAlt), 0.8);
  border-radius: 5px;
}

#overlay > #modifiersAndHealth #healthColumn .healthContainer #health {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: rgba(var(--overlayForeground), 1);
  border-radius: 5px;
  -webkit-transition: height 100ms ease 0s;
  transition: height 100ms ease 0s;
}

#overlay > #modifiersAndHealth #modifiersColumn {
  text-align: center;
  padding: 0 5px;
  background-color: rgba(var(--overlayBackground), 0.7);
}

#overlay > #modifiersAndHealth #modifiersColumn > table {
  border-spacing: 7.5px 10px;
}

#overlay > #modifiersAndHealth #modifiersColumn > table > tbody > tr.active > td {
  color: rgba(var(--overlayForeground), 1);
}

#overlay > #modifiersAndHealth #modifiersColumn > table > tbody > tr > td {
  color: rgba(var(--overlayAlt), 0.8);
  font-size: 22px;
}

#overlay > #mapDetails {
  position: absolute;
  border-spacing: 0;
}

#overlay > #mapDetails table, #overlay > #mapDetails tbody {
  border-spacing: 0;
  vertical-align: bottom;
}

#overlay > #mapDetails td {
  padding: 0;
}

#overlay > #mapDetails #mapCoverContainer {
  width: 160px;
  height: 160px;
  background-color: rgba(var(--overlayBackground), 0.7);
  position: relative;
}

#overlay > #mapDetails #mapCoverContainer > #mapCover {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#overlay > #mapDetails #preBSR {
  background-color: rgba(var(--overlayBackground), 0.7);
  padding-left: 10px;
  padding-right: 10px;
}

#overlay > #mapDetails #mapDetailsContainer > p {
  background-color: rgba(var(--overlayBackground), 0.7);
  padding-top: 7.5px;
  padding-bottom: 5px;
}

#overlay > #mapDetails #mapDetailsContainer > p#songName {
  font-size: xx-large;
}
/*# sourceMappingURL=default.css.map */