body
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    background: black;
    margin: 0;
    overflow: hidden;
    margin: 0;
    display: table;
    width: 100vw;
    height: 100vh;
}

.overlay > * { position: absolute; }

p { line-height: 20px; margin: 0px; }
h2 { margin: 20px; }
hr
{
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(255,255,255,1) 100%);
    height: 1px;
    border-radius: .5px;
}

#splash
{
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
}

.overlay
{
    position: relative;
    height: 100%;
    display: table-cell;
}

.editorPanel
{
    position: relative;
    height: 100%;
    width: 250px;
    background-color: white;
    display: table-cell;
    transition: all 100ms;
    overflow-x: hidden;
    color: black;
    text-align: center;
    z-index: 9999;
}

.editorPanel > h2 { height: 60px; }

#editorElements
{
    position: absolute;
    top: 100px;
    bottom: 20%;
    width: 100%;
    overflow: auto;
}

#elementEditor
{
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.elementPosition { width: 80%; margin-left: 2.5%; }
.elementPosition td > input { width: 45px; margin-right: 10px; }

/*#elementLeft { width: 100%; }
#elementLeft > p { float: left; width: 25%; }*/

/*Custom overlay elements begin below*/
.roundBar { transform: rotate(-90deg); }

.roundBar > circle
{
    fill: transparent;
    stroke-linecap: round;
}

.roundBar .remaining
{
    stroke: rgb(255, 255, 255);
    opacity: .25;
    stroke-width: 2px;
}

.roundBar .progress
{
    stroke-width: 8px;
    transition: .2s all;
    stroke: rgb(255, 255, 255);
}

.mapTime.roundbar > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}