#editorPanel
{
    position: relative;
    height: 100%;
    width: 250px;
    background-color: white;
    display: table-cell;
    transition: all 100ms;
    overflow-x: hidden;
    color: black;
    text-align: center;
    z-index: 9999;
}

#editorPanel > div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
}
#editorPanel > div > h2 { height: 60px; }

#editorElements
{
    position: absolute;
    top: 100px;
    bottom: 200px;
    width: 100%;
    overflow: auto;
    user-select: none;
}
#editorElements td { position: relative; }
#editorElements td.visible { display: table-cell; }
#editorElements td.button
{
    cursor: pointer;
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
}

#elementEditor
{
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}
#elementEditor table { margin-left: 7px; margin-bottom: 5px; }

.elementPosition td > input { width: 45px; margin-right: 10px; }

#SaveOverlay
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    outline: none;
    border: 1px solid black;
    transition: ease .4s;
    transition-property: background-color, color;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: medium;
    background-color: white;
    user-select: none;
}
#SaveOverlay:hover
{
    background-color: #2c323d;
    color: white;
    cursor: pointer;
}

#OverlayName { width: 167.5px; margin-right: 10px; }

/*#region elements.css colour swap for editor panel*/
#editorPanel .roundBar .remaining,
#editorPanel .roundBar .progress
{ stroke: black !important; }
/*#endregion*/