*
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

body
{
    color: white;
    background: black;
    margin: 0;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#loading
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    z-index: 9999;
    transition: opacity ease 500ms;
}

#loading > div
{
    position: absolute;
    width: max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
}

body > iframe
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    border: none;
    display: none;
}

#editor
{
    position: relative;
    overflow: hidden;
    display: table;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#overlay > * { position: absolute; }
#overlay * { user-select: none; }
#overlay
{
    position: relative;
    height: 100%;
    display: table-cell;
    background-size: cover;
    background-position: center;
}

p { line-height: 20px; margin: 0px; }
h2 { margin: 20px; }

#splash
{
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
}

img { pointer-events: none; }

.moveable { height: auto !important; }
.resizable { overflow: hidden; }