table { position: relative; top: 40px; }

.overlayImageContainer
{
    max-width: 35vw;
    height: fit-content;
    border-radius: 4px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://cdn-readie.global-gaming.co/images/testBackground.jpg");
}

#overlayImage
{
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
}

.textContainer
{
    position: relative;
    max-width: 50vw;
    min-width: 50vw;
}

.textContainer > div
{
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 1vw;
    min-width: 100%;
    max-width: 100%;
}

#overlayDescription
{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}

#overlayButton { margin-left: 10px; }

span
{
    margin-left: 25px;
}