.text.max_score._01
{
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    > .maxScore
    {
        text-align: center;
        margin: 5px;
        color: rgba(var(--overlayForegroundColour), 1);
    }
}